@{
    ViewBag.Title = "Contact";
}

@section navbreadcrumb {
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">@ViewBag.Title</li>
}

<div class="row page">
    <div class="content-group">
        <form class="clearfix" target="#" name="contact">
            <div class="col col-md-6">
                <div class="form-group">
                    <i class="fa fa-user"></i>
                    <input type="text" name="contactName" id="contactName" class="form-control__flat" placeholder="Name" />
                </div>
                <div class="form-group">
                    <i class="fa fa-envelope"></i>
                    <input type="text" name="contactEmail" id="contactAddress" class="form-control__flat" placeholder="Email Address" />
                </div>
                <div class="form-group">
                    <i class="fa fa-book"></i>
                    <input type="text" name="contactSubject" id="contactSubject" class="form-control__flat" placeholder="Subject" />
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <textarea name="contactMessage" id="contactMessage" class="form-control__flat" placeholder="What's on your mind?"></textarea>
                </div>
                <span id="message"></span>
                <div class="form-group">
                    <a href="#" type="button" class="btn btn-primary" id="submit_contact" data-loading-text="SENDING...">SEND</a>
                </div>
            </div>
        </form>
    </div>
</div>