@{ 
    ViewBag.Title = "Oops!";
}

<div class="row page">
    <div class="shadowbox padding clearfix">
        <h5>Er is iets fout gelopen tijdens het verwerken van je verzoek</h5>
        <div>Onze oprechte excuses voor dit ongemak, we proberen dit zo snel mogelijk te verhelpen.</div>
    </div>
</div>