/* FONTS */
@font-face {
    font-family: 'MarketDeco';
    src: url(../fonts/Market_Deco.ttf);
}

@font-face {
    font-family: 'LibreBaskerville';
    font-style: italic;
    src: url(../fonts/LibreBaskerville-Italic.ttf);
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

/* STYLES */
html { 
    font-size: 62.5%; 
}

body {
    font-family: 'OpenSans', sans-serif;
    font-size: 1.4rem;
    background-color: #f1f1f1
}

h1, h2, h3, h4, h5 {
    font-family: 'MarketDeco', sans-serif;
    letter-spacing: 2px;
}

h5 {
    font-weight: bold;
    letter-spacing: 1px;
}

a {
    color: black;
}

/* TODO REWORK BUTTON STYLES */
.btn {
    background: transparent;
    color: #808080;
    border: 1px solid #808080;
}
.btn {
    padding: 15px 20px;
    height: 50px;
    display: inline-block;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in ease-out;
    -moz-transition: all 0.2s ease-in ease-out;
    -o-transition: all 0.2s ease-in ease-out;
    transition: all 0.2s ease-in ease-out;
}

.shadowbox  {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
}

.shadowbox  h5 {
    padding: 2.5rem 3rem;
}

.page {
    margin-top: 5rem;
}

/* SHARED STYLES */
h1 {
    height: 9rem;
    background: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.page-header-container {
    position: relative;
}

.page-header-container header {
    position: absolute;
    top: 0;

    width: 100%;
}

.page-header-container header .header-top {
    height: 4rem;
    line-height: 4rem;

    background-color: white;
    color: black;
}

.page-header-container .header-nav {
    background-color: rgba(255, 255, 255, .8);
}

.page-header-container .header-nav ul > li {
    display: inline-block;

    height: 9rem;
    line-height: 9rem;
    padding: 0 2rem;

    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

.page-header-container .header-nav .pull-right {
    text-align: right;
}

.page-header-container header a {
    color: #333333 !important;
}

.page-header-container .page-header {
    height: 35rem;

    background-image: url(../img/header_bg.jpg);
    background-size: cover;
    background-position-y: 50%;
}

.page-header-container .page-header {
    padding: 21rem 0 9rem 0;


    text-transform: uppercase;
    color: white;
}

.page-header-container .page-header .page-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.page-header-container .page-header .page-breadcrumbs, .page-header-container .page-header .page-breadcrumbs > li::after {
    font-family: 'MarketDeco', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.page-header-container .page-header .page-breadcrumbs > li {
    display: inline-block;
}

.page-header-container .page-header .page-breadcrumbs > li::after {
    content: '/';
    padding: 0 1rem;
}

.page-header-container .page-header .page-breadcrumbs > li:last-child::after {
    content: '';
    padding: 0;
}