@{
    ViewBag.Title = "Onze Partners";
}

@section styles {
    @Styles.Render("~/Assets/css/main/partners.css")
}

@section navbreadcrumb {
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">Partners</li>
}

<div class="row page">
    <div class="shadowbox padding clearfix api-reference">
        <h5 class="pull-left">Je site uitbreiden met meer locaties? Gebruik onze publieke API!</h5>
        <div class="pull-right"><a href="http://jlbapi.robinmaenhaut.ikdoeict.net/help" class="button">API Documentatie</a></div>
    </div>

    <div class="partner shadowbox clearfix">
        <div class="partner-thumbnail" style="background-image:url(../../Assets/img/partner_logo_diede.png);"></div>
        <div class="partner-info">
            <div class="partner-header clearfix">
                <h5 class="pull-left partner-title">
                    Diede Seldeslachts
                </h5>
                <span class="pull-right partner-jobtitle">
                    CEO @@ JeugdLocatie Booking
                </span>
            </div>
            <blockquote class="partner-quote">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
                Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
                <br /><br />
                API: http://diedeseldeslachts.ikdoeict.net/api/LocationSearchAPI/Get
            </blockquote>
        </div>
    </div>
    <div class="partner shadowbox clearfix">
        <div class="partner-thumbnail" style="background-image:url(../../Assets/img/partner_logo_tim.png);"></div>
        <div class="partner-info">
            <div class="partner-header clearfix">
                <h5 class="pull-left partner-title">
                    Tim Vettori
                </h5>
                <span class="pull-right partner-jobtitle">
                    CEO @@ JeugdLocatie Booking
                </span>
            </div>
            <blockquote class="partner-quote">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
                Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
                <br /><br />
                API: http://jeugdlocatie.timvettori.ikdoeict.net/Help
                <br />
                http://jeugdlocatie.timvettori.ikdoeict.net/api/SharedLocations/
            </blockquote>
        </div>
    </div>
</div>