.shadowbox h5 {
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.shadowbox h5:first-child {
    margin-top: 0;
}

.location-info > * {
    padding: 4rem 5rem;
    border-bottom: 1px solid #e4e4e4;
}

h5.location-name {
    font-size: 3rem;
    margin-bottom: 0;
}

.location-price {
    display: block;

    font-family: 'LibreBaskerville', serif;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 4rem;
}

ul.location-summary > li {
    display: inline-block;
}

ul.location-summary > li, ul.location-summary > li::after {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #808080;
}

ul.location-summary > li::after {
    content: '/';
    padding: 0 1rem;
}

ul.location-summary > li:last-child::after {
    content: '';
    padding: 0;
}

.location-booking form .button {
    width: 100%;
    margin-top: 2rem;
}

.location-images img {
    max-width: 100%;
    max-height: 50rem;
}

/* REVIEW */
.review-info li {
    display: inline-block;
    margin-right: 1rem;
}

.review-review {
    margin: 1rem 0; 
}

.review-facility-ratings {
    margin-top: 1rem;
}

.review-facility-rating {
    margin: .5rem 0;
}

/* CALENDER */
.calender .clndr .clndr-table tr .day.today {
    background-color: #fe7e07;
}
.calender .clndr .clndr-table tr .day.today.event {
    color: white;
    background-color: #d3d3d3;
    border-radius: 0;
}
.calender .event {
    background-color: #d3d3d3;
}
.calender .clndr .clndr-table tr .day .day-contents {
    cursor: initial;
}
.clndr .clndr-controls {
    background-color: #00cbff;
}
.clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    top: initial;
}
.clndr .clndr-controls .clndr-control-button .clndr-next-button {
    top: 40%;
}